body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
}

p {
  font-size: 18px;
  font-weight: 400;
  margin-right: 30%;
  line-height: 140%;
}

h1 {
  font-size: 42px;
  font-weight: 600;
}

h2 {
  font-size: 35px;
  font-weight: 600;
  color: teal;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-size: 25px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline;
}

.bullet-points {
  font-size: 18px;
  margin-right: 30%;
}

img {
  width: 50%;
  height: auto;
}

.metrics {
  margin-top: -20px;
}